.header {
    background-color: lightgreen;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-item {
    list-style-type: none;
}

.footer {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
}

.footer-article {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
}

