{% include "_header.html.twig" %}

<article>
    {% if article.isPublished %}
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <img src="{{ article.image }}" alt="{{ article.title }}">
    {% else %}
        <p>Cet article n'est pas publié !</p>
    {% endif %}
</article>

{% include "_footer.html.twig" %}
